version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nexmedis-backend-nest
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - postgres
      - redis
    restart: unless-stopped

  postgres:
    image: postgres:16-alpine
    container_name: nexmedis-postgres
    environment:
      POSTGRES_DB: nexmedis
      POSTGRES_USER: nexmedis
      POSTGRES_PASSWORD: nexmedis
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./db/db.sql:/docker-entrypoint-initdb.d/001_init.sql
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    container_name: nexmedis-redis
    ports:
      - "6379:6379"
    command: redis-server --appendonly yes
    volumes:
      - redis_data:/data
    restart: unless-stopped

volumes:
  postgres_data:
  redis_data:
